
 
   <div class="p-grid block-card">
    <div class="p-col-12 p-md-6 p-lg-3 card-container">
      <p-card  class="total-status">
        <p-header>
          <div class="head">
            Total Cases
          </div>

          </p-header>
          {{allCasesTillNow}}
         
    </p-card>
    </div>
      <div class="p-col-12 p-md-6 p-lg-3 card-container">
         <p-card class="total-status">
          <p-header>
            <div class="head">
              Total Active Cases
              
            </div>

            </p-header>
           {{totalConfirmedCases}}
      </p-card>
    </div>
      <div class="p-col-12 p-md-6 p-lg-3 card-container">
        <p-card class="total-status">
          <p-header>
            <div class="head">
              Cured/discharged cases
            </div>

            </p-header>
            {{totalCuredCases}}
      </p-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3 card-container">
        <p-card class="total-status">
          <p-header>
            <div class="head">
              Total Death Cases
            </div>

            </p-header>
            {{totalDeathCases}}
      </p-card>
      </div>
     
  </div>
  <div class="not-moving">
    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
      <div class="today-data">
        <span>Today's Positive Cases : </span>
        <span class="head-gap">{{todayPositiveCases}}</span>

        <span>Today's Cured Cases : </span>
        <span class="head-gap">{{todayCuredCases}}</span>

        <span>Today's Death Cases : </span>
        <span class="head-gap">{{todayDeathCases}}</span>

      </div>
    </marquee>
  </div>


   <div class="graph-container" id="graph-container">
   </div>

   <div class="search_block">
   <input type="text" placeholder="Search By State" class="input_value" [(ngModel)]="listFilter"/>
  </div>

    <div class="state_list">
        <div  *ngFor="let state of filteredList">
          <p-card class="state-card"  styleClass="ui-card-shadow">
          <div class="card-header">
              {{state.state_name}}
          </div>
          <div class="card-data">
              <div class="row-data">
                <span>Total Confirmed Cases  </span>
                <span>{{state.positive}}</span>
              </div>
              <div class="row-data">
                <span>Total Cured Cases  </span>
                <span>{{state.cured}}</span>
              </div>
              <div class="row-data">
                <span>Total Death Cases  </span>
                <span>{{state.death}}</span>
              </div>
          </div>
          
          </p-card>
        </div>
      </div>
 
<!-- <p-table [columns]="cols"  [value]="tableData" [scrollable]="true"  >
   <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col *ngFor="let col of columns" style="width:100px;">
      </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-values>
   <tr>
       <td>{{values.state_name}}</td>
       <td>{{values.positive}}</td>
       <td>{{values.cured}}</td>
       <td>{{values.death}}</td>
       
   </tr>
</ng-template>
</p-table> -->

<!-- <div>
  <highcharts-chart
    id="container" 
    [Highcharts]="highcharts1"
    [constructorType]="chartConstructor"
    [options]="chartOptions"
    [callbackFunction]="chartCallback"
    [(update)]=updateFromInput
    [oneToOne]="true"
     style="width: 100%; height: 700px; display: block;">
  </highcharts-chart>
</div> -->

