.total-status ::ng-deep .ui-card-header{
    text-align: center;
}
.total-status ::ng-deep .ui-card-body{
  padding:0px ;
}
.total-status ::ng-deep .ui-card-content{
    text-align: center;
    color: mediumblue;
    font-weight: 600;
}
.state-card ::ng-deep .ui-card-body{
    padding:0px;
}
.head{
    padding: 0.5em;
    font-weight: bolder;
}
.font-col{
    color:white;
}
#graph-container{
    height:700px;
}
.state_list{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    /* grid-column-gap:20px; */
    grid-auto-rows: 150px;
    grid-auto-columns: 150px;
    grid-gap:1em;
}

.total-status ::ng-deep .ui-card {
    background-color: #8dcdff;
    color: white;
}
.total-status ::ng-deep .ui-card:hover{
    box-shadow: 0 0px 5px 0 rgba(0, 122, 217, 0.58),
     0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);

}
.links_tab{
    padding:7%;
}

.card-header{
    padding: 10px 10px;
    background-color: lightcoral;
    text-transform: uppercase;
    font-weight: 600;
    color: darkorchid;
}
.card-data{
    padding:15px 10px;
}
.row-data{
    margin-bottom: 5px;
    display: flex;
    justify-content:space-between;
}
.head-gap{
    margin-right: 20px;
}
.not-moving{
  background-color:#ff4000;
  color:white;
  padding:10px;
}
.search_block{
    padding:15px;
}
.block-card{
    display:flex;
    flex-wrap:wrap;
}
.input_value{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
  
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}